.container {
  display: flex;
  height: 100%;
}

.sidenav {
  width: auto;
  background-color: #333333;
}

.sidenav-content {
  /*display: flex;*/
  margin: 20px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.nav-item {
  margin: 5px;
  border-radius: 12px;
}

.nav-item:hover {
  background-color: #A27B5C;
}

.nav-item-title {
  margin: 10px;
  color: #ffffff;
}

.nav-item-icon {
  color: #ffffff;
}

.nav-logo-container {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.nav-logo {
  width: 150px;
}

.page-header {
  margin: 50px;
}

.active {
  background-color: #A27B5C !important;
}
