<mat-drawer-container class="container">
  <mat-drawer mode="side" [opened]="navOpen" class="sidenav">
    <div class="nav-logo-container">
      <img src="/assets/logo-white.png" alt="logo of organization" class="nav-logo">
    </div>
    <mat-nav-list role="list" class="nav-list">
      <mat-list-item *ngFor="let navItem of navList" #navItem
                     role="listitem"
                     class="nav-item"
                     routerLinkActive="active"
                     [routerLink]=[navItem.destination]
                     (click)="onNavigate(navItem.destination)">
        <mat-icon class="nav-item-icon">{{ navItem.icon }}</mat-icon>
        <span class="nav-item-title mat-body-2">{{ navItem.name }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="sidenav-content">
    <div [hidden]="!isMobile">
      <button mat-raised-button
              color="primary"
              class="menu-toggle"
              (click)="onToggleMenu()">
        <mat-icon>{{navOpen ? "close" : "menu"}}</mat-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
