<mat-drawer-container class="container">
  <mat-drawer mode="side" [opened]="true" class="sidenav">
    <div class="nav-logo">
      <img src="favicon.ico" alt="logo of organization">
    </div>
    <mat-nav-list role="list" class="nav-list">
      <mat-list-item *ngFor="let item of navList" role="listitem" class="nav-item" (click)="onNavigate(item.destination)">
        <mat-icon color="primary" matListItemIcon>{{ item.icon }}</mat-icon>
        <span class="nav-item-title">{{ item.name }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
